.player-throw img {
  width: 120px;
  cursor: pointer;
}

.player-throw img.selected {
  border: 3px solid red;
  border-radius: 8px;
}

#container{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    justify-content: center;
    align-items: center;

}

#game_container {
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;     
  text-align: center;       
  gap: 20px;            
}